<h1>Find and Replace</h1>

<form action="/findreplace/results" method="post">
  <label for="inputOne">Enter a sentence.</label>
  <input name="inputOne" class="form-control" id="inputOne">
  <br>
  <br>
  <label for="inputTwo">Enter a word to replace.</label>
  <input name="inputTwo" class="form-control" id="inputTwo">
  <br>
  <br>
  <label for="inputThree">Enter replacement word.</label>
  <input name="inputThree" class="form-control" id="inputThree">
  <br>
  <br>
  <button type="submit" class="btn btn-success">Go.</button>

</form>
