<h1>Anagramer</h1>

<form action="/findreplace/results" method="post">
  <label for="inputOne">Enter word:</label>
  <input name="inputOne" class="form-control" id="inputOne">
  <br>
  <label for="inputTwo">Enter sentence:</label>
  <input name="inputTwo" class="form-control" id="inputTwo">
  <br>
  <label for="inputThree">Enter sentence:</label>
  <input name="inputThree" class="form-control" id="inputThree">
  <br>

  <button type="submit" class="btn btn-success">Go.</button>
</form>
